ul{
    list-style: none;
}
.status {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 2px solid #3ba395;
}
.task-details {
    margin-left: 150px;
    width: 80px;
    height: 30px;
    border: 1px solid #3ba395;
    border-radius: 4px;
    color: #3ba395;
    font-weight: 600;
}
.task-details:hover {
    background-color: #3ba395;
    color: white;
}