.container{
    width: 80%;
    max-width: 1120px;
    margin: 0px auto;
}
.header{
    background-color: #c38d9e;
}
.header.is-phone-portrait{
    padding: 4rem 0;
}
.header.is-big-screen{
    padding: 6rem 0;
}
.logo.is-phone-portrait{
    display: block;
    margin: 0 auto;
}
.nav{
    background-color: #eee;
}
.nav__list{
    list-style: none;
}
.nav.is-phone-portrait{
    padding: 2rem 0;
}
.nav__list.is-phone-portrait{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.nav__list.is-big-screen{
    display: flex;
    gap: 2.1rem;
}
.nav__item{
    align-self: center;
    text-transform: uppercase;
    padding: 0.25rem;
    font-size: 1.125rem;
    color: #aa4162;
    border-bottom: 2px solid transparent;
}
.proj-menu>.nav__item{
    margin: 0px 1rem;  /*making proj-menu width bigger*/
}
.nav__item:hover{
    border-bottom-color: #aa4162;
    cursor: pointer;
}
.proj-menu{
    position: relative;
}


.nav__item--separate.is-phone-portrait{
    margin-top: 1rem;
}
.nav__item--separate.is-big-screen{
    margin-left: auto;
    text-align: right;
}