<header class="header" [ngClass]="{'is-phone-portrait': isPhoneProtrait, 'is-big-screen': !isPhoneProtrait}">
  <div class="container">
    <img src="assets/logo.png" alt="Application Logo" class="logo" [ngClass]="{'is-phone-portrait': isPhoneProtrait}">
  </div>
</header>
<main class="main">
    <nav class="nav" [ngClass]="{'is-phone-portrait': isPhoneProtrait, 'is-big-screen': !isPhoneProtrait}">
      <ul class="nav__list container" [ngClass]="{'is-phone-portrait': isPhoneProtrait, 'is-big-screen': !isPhoneProtrait}">
        <li class="nav__item"><a>Home</a></li>
        <li class="nav__item"><a>Today</a></li>
        <li class="nav__item"><a>This Week</a></li>
        <!-- 
          <li class="proj-menu"
            (mouseover)="showProjMenu=true" (mouseleave)="hideProjNav()">
            <div class="nav__item">Projects</div>
            <proj-menu 
              [show]="showProjMenu"
            >
            </proj-menu>
          </li>
        -->
        <li class="proj-menu nav__item" (mouseover)="showProjMenu=true" (mouseleave)="hideProjNav()"><a>Projects</a>
          <proj-menu 
          [show]="showProjMenu"
        >
        </proj-menu>
        </li>
      </ul>
    </nav>
    <section class="contents">
      <div class="container">
          <!--
          <ul class="task">
            <li class="task__prop">Eat</li>
            <li class="task__prop">High</li>
            <li class="task__prop">Dec 23 2024</li>
          </ul> 
           -->
          <button (click)="taskService.createProj()">Create Task</button>
        
      </div>
    </section>
</main>