<header class="header" [ngClass]="{'is-phone-portrait': isPhoneProtrait, 'is-big-screen': !isPhoneProtrait}">
  <div class="container">
    <img src="assets/logo.png" alt="Application Logo" class="logo" [ngClass]="{'is-phone-portrait': isPhoneProtrait}">
  </div>
</header>
<main class="main">
    <nav class="nav" [ngClass]="{'is-phone-portrait': isPhoneProtrait, 'is-big-screen': !isPhoneProtrait}">
      <ul class="nav__list container" [ngClass]="{'is-phone-portrait': isPhoneProtrait, 'is-big-screen': !isPhoneProtrait}">
        <li class="nav__item"><a>Home</a></li>
        <li class="nav__item"><a>Today</a></li>
        <li class="nav__item"><a>This Week</a></li>
        <li class="proj-menu nav__item" (mouseover)="showProjMenu=true" (mouseleave)="hideProjNav()"><a>Projects</a>
          <proj-menu 
          [show]="showProjMenu"
          [projNames]="taskService.projNameList()"
        >
        </proj-menu>
        </li>
      </ul>
    </nav>
    <section class="contents">
      <div class="container">
          <app-view-tasks *ngFor="let task of taskService.taskListInView()" [task]="task">
          </app-view-tasks>
          <button (click)="taskService.createTask()">Create Task</button>
      </div>
    </section>
</main>